body {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: .5rem;
}

hr {
  border: 1px solid;
  width: 16%;
  margin-top: 0;
}

.container-fluid { 
  padding: 0;
}

.row {
  margin-right: 0;
}

  .jumbotron {
    margin-bottom: 0;
    text-align: center;
    padding-top: 6.5rem;
    line-height: 1rem;
    overflow: hidden;
  }

  .black {
    background-color: black;
    color: white;
    text-align: center;
  }

  .btn-warning {
    background-color: #F4C95B;
    margin-top: 1rem;
  }

  .pic {
    background-image: url("resources/rocks.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .yellow {
    background-color: #F4C95B;
  }

  .grey {
    background-color: #DCC78F;
    color: white;
    padding: .5rem
  }

.space {
  padding-top: 1rem;
  padding-bottom: 3rem;
  }

.title {
  text-align: center;
  padding-top: 1rem
}

.size {
  width: 40%;
  padding: 1rem;
}

.contact {
  text-align: right;
  line-height: .5rem;
  padding-top: 1rem;
}

@media only screen and (max-width: 600px) {
  .full {
    display: none;
  }

  .jumbotron {
    padding: 3rem;
    color: white;
  }

.shadow {
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.space {
  padding-bottom: inherit;
  padding-top: inherit
}
  
}

@media only screen and (min-width: 600px) {
  .mobile {
    display: none
  }
}

